* {
	all: unset;
	font-family: monospace;
	font-size: 12px;
}

window#waybar, menu, tooltip {
	border-radius: 4px;
}

window#waybar {
	background-color: #1e1e2e;
	color: #cdd6f4;
}

menu, tooltip {
	background-color: #313244;
}

window#waybar {
	padding: 8px 0;
}

.module {
	padding: 8px;
}

menu {
	border: 2px solid #9399b2;
	padding: 8px;
}

button {
	padding: 0 8px;
}

button:hover {
	color: #9399b2;
}


#workspaces button.active {
	color: #7f849c;
}

#workspaces button.urgent {
	color: #f9e2af;
}
